.back-button {
  display: inline-block;
  color: #FFF;
  background: #03A9F4;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 1000px;
  float: left;
}

.item-title{
  font-size: 28px;
  margin-bottom: 16px;
  font-weight: 400;
  color: #616161;
}
